<div class="row">
    
    <h1 class="table_title mt-5 mb-5 col-12">Centro de mensajes</h1>

    <label for="email" class="form-label fw-semibold col-3">Email:</label>
    <input id="inp_email" type="text" class="form-control col-3" name="email" required/>

    <hr/>

    <div id="messages">

        <div>
            {{#each messages}}
                <p>
                <span class='fw-bold' style='color:white, font-style:bold;'>{{this.email}}</span>
                <span style='color:black;'>{{this.date}}</span>
                :
                <span class='fst-italic' style='color:white;'>{{this.message}}</span></p>

            {{/each}}
        </div>

        
    </div>

    <div class="d-flex justify-content-start">
        <input placeholder="Send message" type='text' class='form-control' id='inp_msg' style="max-width:200px;" />
        <button id='sendMessage' onclick="addMessage()" class='btn btn-success ms-3'>Send!</button>
    </div>

</div>
