<div class="container bg-light p-4 my-2 mx-auto">
  <h1 class="text-primary mb-5">Ingrese producto</h1>
  <form action="/productos/" method="post">
    <div class="mb-3">
      <label for="title" class="form-label fw-semibold fst-italic">Title</label>
      <input type="text" class="form-control" name="title" id="title" /><br
      /><br />
    </div>
    <div class="mb-3">
      <label for="price" class="form-label fw-semibold fst-italic">Price</label>
      <input type="text" class="form-control" name="price" id="price" /><br
      /><br />
    </div>
    <div class="mb-3">
      <label
        for="thumbnail"
        class="form-label fw-semibold fst-italic"
      >Thumbnail</label>
      <input
        type="text"
        class="form-control"
        name="thumbnail"
        id="thumbnail"
      /><br /><br />
    </div>
    <input
      type="submit"
      class="btn btn-success mt-4"
      value="Agregar producto"
    />
  </form>
  <a class="btn btn-primary" href="/productos" role="button">Galeria de Productos</a>
</div>